<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="LookupPrefix" value="Lookup_"/>
    <add key ="TablePrefix" value="Table_"/>
    <add key ="DataBaseName" value="Generated"/>
    <add key ="SchemaName" value="dbo"/>
    <add key ="IdName" value="ID"/>
    <add key ="FkPrefix" value="FK_"/>
    <add key ="IdType" value="Identity"/>
    <add key ="Strategy" value="SplitClassHierarchies"/>
    <add key ="IgnorePrivate" value="true"/>
    <add key ="SerializeProperties" value="true"/>
    <add key ="SerializeFields" value="false"/>
  </appSettings>
</configuration>
